body{margin: 0px; padding: 0px; font-family: Verdana, Geneva, Tahoma, sans-serif }
h1{color: #00528C}
p{font-size: 12pt}
h2{color: #2E3191; border-bottom: 1px solid #2E3191;}
span{font-weight: bold;}
a{text-decoration: none; color:#17A2B8}
a:hover{color:#FF5A5F}